$color_1: #666666;
$color_2: black;
$color_3: #8d8d8d;
$color_4: #9d9d9d;

$font-family_1: 'Open Sans', sans-serif;
$background-color_1: #FAFAFB;
$background-color_2: #2B3643;
$background-color_3: #4e5e70;
$border-bottom-color_1: #337ab7;

/*start of login page style*/
/* body {
    background-color: #3C3C3C;
} */
/*end of login page style*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    transition: all 0.01s;

}

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: 12px;
}



a:hover{
	text-decoration: none;
}

.all_table {
	td button:hover{
		background-color: #f7f7f7;
	}
}

@media print {
	body * {
	  visibility: hidden;
	}
	#section-to-print, #section-to-print * {
	  visibility: visible;
	}
	#section-to-print {
	  position: absolute;
	  left: 0;
	  top: 0;
	}
  }

// input:read-only {background-color: #fafafb!important;}

.btn:focus {
	outline: none !important;
}

// .btn:focus {
// 	box-shadow: none;
// }



.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

// tbody td {
// 	border-top: 0.5px dashed #2B3643;
// 	border-right-width: 10px;
// }






.form {
	display: block;
	margin: 0 auto;
	margin-top: 180px;
	padding: 28px 32px 17px 32px;
	width: 382px;
	height: 257px;
	background: #FFFFFF;
	border-radius: 7px;
	.img_logo {
		display: block;
		margin: 0 auto;
		height: 39px;
	}
	form {
		margin-top: 13px;
	}
}

.login-form {
	display: block;
	margin: 0 auto;
	margin-top: 180px;
	padding: 32px;
	width: 382px;
	height: 257px;
	background: #FFFFFF;
	border-radius: 7px;
	.img_logo {
		display: block;
		margin: 0 auto;
		height: 39px;
	}
	form {
		margin-top: 13px;
		input {
			font-size: 13px !important;
		}
	}
}

.login_btn {
	float: right;
	font-size: 13px !important;
}

input[type="date"] {
	font-family: $font-family_1;
	color: $color_1;
	font-size: 13px;
}

input[type="time"] {
	font-family: $font-family_1;
	color: $color_1;
	font-size: 13px;
}

input[type="text"] {
	font-family: $font-family_1;
	color: $color_1;
	font-size: 13px;
}

input[type='radio']:checked:after {
	width: 14px;
	height: 14px;
	border-radius: 15px;
	position: relative;
	background-color: $color_1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid white;
}

.container {
	width: 100%;
}

.r15 {
	margin-right: -7px;
}

.navbar-inverse {
	.navbar-nav {
		>li {
			>a {
				color: $color_4;
				font-size: 14px;
			}
		}
	}
}

.navbar-custom {
	background-color: $background-color_2;
	border: none;
	border-radius: 0%;
	border-bottom: solid 2px;
	border-bottom-color: $border-bottom-color_1;
}

.header {
	.page_header {
		position: fixed;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0;
		border: 0px;
		padding: 0px;
		box-shadow: none;
		min-height: 40px;
		height: 40px;
		filter: none;
		background-image: none;
		background-color: $background-color_3;
		.logo {
			.logo_item {
				display: block;
				float: left;
				margin: 8px 20px;
				height: 25px;
				width: 100px;
			}
		}
		.menu {
			margin: 0;
			float: left;
		}
	}
}

.page_name {
	width: 100%;
	height: 37px;
	padding: 9px;
	margin-top: -20px;
	border-bottom: 1px dotted #CDCDCD;
	color: $color_3;
	font-size: 13px;
}

.right_cus {
	margin-left: 7px;
}

.toolbar {
	width: 100%;
	height: 46px;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px dotted #CDCDCD;
	.btn {
		text-transform: uppercase;
		font-size: 12px;
	}
}

.table {
	border-collapse: collapse;
    border: 1px solid #dddddd;
	margin-bottom: 0px;
	padding-top: 10px;
	// border-radius: 30px !important;

}



table > tbody > tr > td {
	vertical-align: middle;
	border-left: 0.00001px dashed #d9d9d9;
	height: 80%;
}

table > thead > tr > td {
	vertical-align: middle;
	border-left: 0.00001px dashed #d9d9d9;
	height: 80%;
} 




.prod_list {
	margin-top: 30px;
	table > thead {
		background-color: whitesmoke;
	}	
	table > tbody > tr:last-child{
		background-color: whitesmoke;
	}
	&__edit {
		input {
			padding: 0;
			box-shadow: none;
			height: 100%;
			// border: none;
			border-radius: 0;
			background-color: #fafafb;
			border-bottom: 1px solid;
			color: green;
		}
		button {
			border: none;
			background-color: whitesmoke;	
		}

	}
}

.edit_add{
	&_select {
		cursor: pointer;
		height: 29px;
		font-size: 12px;
		padding: 0;
		margin-left: -5px;
		border: none;
		box-shadow: none;
		background: none;
		color: #333333;
	}
}



.card_head {
	padding: 3px;
	margin-top: 20px;
	font-size: 12px;
	color: $color_3;
	label {
		text-align: right;
	}
	.dash {
		border-bottom: 1px dashed #c2cad8;
	}
	.row {
		align-items: center;
	}
	&_mt0 {
		margin-top: 0px;
	}
	&__wrapper {
		width: 45%;
		.row {
			div {
				min-height: 41px;
				padding-top: 20px;
			}
			div:nth-child(1) {
				text-align: right;
				padding-right: 45px;
				@media (orientation: portrait) {
					text-align: left;	
				}
			}
			div:nth-child(2) {
				border-bottom: 1px dashed #939393;
				color: #000;
				padding-left: 0px;
		  	}
		}
	}
}





.mt {
	margin-top: 20px;
}

#myTable {
	tbody {
		i {
			font-size: 20px;
			cursor: pointer;
			margin-left: 4px;
			margin-top: 7px;
			color: $color_3;
		}
	}
}
#orders {
	tbody {
		i {
			font-size: 20px;
			cursor: pointer;
			margin-left: 4px;
			margin-top: 7px;
			color: $color_3;
		}
	}
}
.w600 {
	font-weight: 600;
}

.w20 {
	width: 20%;
}

.w3 {
	width: 3%;
}

.w60px {
	width: 60px;
}


#prepay {
		border: none;
    color: green;
    font-size: 12px;
    float: right;
    margin: 10px 124px 0 0;
	background-color: $background-color_1;
	outline: none;
}

.notification {
	margin: 9px auto;
    height: 44px;
    width: 440px;
    line-height: 12px;
    text-align: center;
	border: 1px dashed #a94442; 
	span {
		border-bottom: 1px solid #a94442;
	}
}


.custom_input {
	height: 100%;
    font-size: 12px;
    padding: 7px 7px;
    color: #333333;
}

.custom_td {
	padding-top: 15px;
}

.ordernum {
	color: #333333;
    font-weight: 600;
}

.dotedline{
	padding-bottom: 23px;
    border-bottom: 1px dotted #CDCDCD;
}


.act_td {
	td{
		padding: 3px!important;
		
	}
	.non_border {
		border-top-style : hidden!important;
		border-left-style : hidden!important;
		border-right-style : hidden!important;
	}
	.non_border_lr {
		border-left-style : hidden!important;
		border-right-style : hidden!important;
		border-bottom-style : hidden!important;
	}
	.non_border_all {
		border-style : hidden!important;
	}
	.head_txt{
		text-align: center;
		span {
			font-size: 14px;
			font-weight: bold;
		}
	}
	.table_wrap {
		width: 70%;
		margin: 0 auto;
		padding: 10px;
		border: 1px solid #CDCDCD;
	}
}

.noContent {
	color: #000 !important;
	background-color: transparent !important;
	pointer-events: none;
}

.toolbar_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.filter-container {
	min-height: 35px;
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	justify-content: end;
	background-color: #fafafb;
	.first {
		cursor: pointer;
	}
	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 50px;
		height: 100%;
		padding: 0 3px;
		border: 1px solid #dddddd;
		button {
			width: 100%;
			background-color: #fafafb;
			outline: none!important;
		}
	}
  }


.table-bordered {
	margin-bottom: 0!important;
}


.hide {
	display: none;
}

.btn-custom {
	border: 1px solid #dddddd;
    background-color: #fafafb;
    font-size: 11px;
	margin: 2px 0px;
    color: #333333;
	
}

.custom-select {
	option {
		background-color: white;
	}
}

.subtotal {
	color: black !important;
}

